# üìä An√°lisis Exploratorio de Datos con Python  

**Daniel Mauricio C√°rdenas Forero**

[LinkedIn](https://www.linkedin.com/in/dcardenasf/) | [Github](https://github.com/dcardenasf)

---

**üéØ Objetivo:**

Realizar un an√°lisis exploratorio de datos, utilizando un conjuno de datos (dataset) en ``Python``


**üß† Introducci√≥n**
El An√°lisis Exploratorio de Datos (AED o EDA, por sus siglas en ingl√©s) es una etapa fundamental dentro del proceso de ciencia de datos. Su objetivo principal es comprender la estructura, calidad y caracter√≠sticas generales de un conjunto de datos antes de aplicar modelos estad√≠sticos o de machine learning. En este ejercicio, se utilizar√° Python y sus bibliotecas m√°s comunes para realizar un an√°lisis exploratorio completo, desde la carga de datos hasta la visualizaci√≥n de patrones y relaciones clave.

**üõ†Ô∏è Metodolog√≠a**
Para llevar a cabo el an√°lisis exploratorio, se seguir√°n los siguientes pasos:

1. **Carga del dataset**
Se utilizar√° la biblioteca pandas para importar el conjunto de datos desde una fuente local o en l√≠nea, y as√≠ comenzar su manipulaci√≥n y an√°lisis.

2. **Revisi√≥n inicial de los datos**
Incluye una inspecci√≥n general de las dimensiones del dataset, tipos de datos, valores nulos, duplicados y primeras filas para tener una visi√≥n preliminar.

3. **Limpieza de datos**
En esta etapa se tratar√°n valores faltantes, datos at√≠picos (outliers) y conversiones necesarias de tipos de datos para asegurar la calidad del an√°lisis.

4. **An√°lisis univariado y estad√≠stico descriptivo**
Se explorar√°n las variables de forma individual utilizando pandas, numpy y seaborn para generar m√©tricas como la media, mediana, desviaci√≥n est√°ndar, entre otros.

5. **An√°lisis bivariado y multivariado**
Se analizar√°n las relaciones entre variables usando gr√°ficos de dispersi√≥n, mapas de calor y an√°lisis de correlaciones, con ayuda de matplotlib, seaborn y plotly.

6. **Visualizaci√≥n de datos**
Se utilizar√°n herramientas gr√°ficas para identificar patrones, distribuciones, relaciones y comportamientos an√≥malos dentro del conjunto de datos. Esto permite obtener insights valiosos de manera visual y comprensible.

7. **Conclusiones**
Finalmente, se presentar√°n los hallazgos m√°s relevantes del an√°lisis exploratorio, destacando aspectos interesantes que podr√≠an guiar an√°lisis posteriores o la toma de decisiones.

## 0. Preliminares  

Vamos a realizar la carga de las librerias b√°sicas que se van a utilizar para este ejercicio.

- pandas: Permite la carga, manipulaci√≥n y limpieza eficiente de datasets tabulares.
- numpy: Complementa el an√°lisis num√©rico con funciones matem√°ticas y estad√≠sticas r√°pidas.
- matplotlib: Proporciona las herramientas b√°sicas para generar gr√°ficos est√°ticos.
- seaborn: Se basa en matplotlib, pero ofrece una forma m√°s sencilla y atractiva de crear gr√°ficos estad√≠sticos.
- plotly: Permite generar visualizaciones interactivas que mejoran la exploraci√≥n y comprensi√≥n de los datos.

In [2]:
import pandas as pd        # Manipulaci√≥n y an√°lisis de datos estructurados
import numpy as np         # Operaciones matem√°ticas y estad√≠sticas de bajo nivel
import matplotlib.pyplot as plt  # Visualizaci√≥n b√°sica de datos (gr√°ficos de l√≠neas, barras, etc.)
import seaborn as sns      # Visualizaci√≥n avanzada y est√©tica sobre Matplotlib
import plotly.express as px # Visualizaci√≥n interactiva de datos

## 1. Carga del dataset.

En esta secci√≥n realizaremos un an√°lisis exploratorio del dataset de ventas globales de videojuegos entre 1980 y 2020. Este conjunto de datos permite realizar distintos tipos de an√°lisis enfocados en las ventas por plataforma, g√©nero y regi√≥n.

A continuaci√≥n, se describen las columnas disponibles en el dataset:

| Columna | Descripci√≥n |
|---|---|
|Rank| Posici√≥n del juego seg√∫n las ventas totales|
|Name| Nombre del videojuego|
|Platform| Consola en la que fue publicado|
|Year| A√±o de lanzamiento|
|Genre | G√©nero del videojuego |
|Publisher| Distribuidor del videojuego|
|NA_Sales| Ventas en Norteam√©rica (en millones)|
|EU_Sales| Ventas en Europa (en millones)|
|JP_Sales| Ventas en Jap√≥n (en millones)|
|Other_Sales| Ventas en el resto del mundo (en millones)|
|Global_Sales| Ventas totales a nivel mundial (en millones)|

*Fuente: [Video Game Sales](https://www.kaggle.com/datasets/anandshaw2001/video-game-sales?resource=download)*

In [3]:
path = "https://raw.githubusercontent.com/Dcardenasf/Portafolio/refs/heads/main/Data/Raw/vgsales.csv" # Ruta al archivo CSV
df = pd.read_csv(path)  # Cargar el archivo CSV en un DataFrame de pandas

## 2. Revisi√≥n inicial de los datos  

En esta secci√≥n realizaremos una inspecci√≥n preliminar del dataset. El objetivo es comprender la estructura general de los datos y detectar posibles problemas que debamos tratar antes del an√°lisis.

Las tareas que abordaremos son:

- Visualizar las primeras filas del dataset.

- Identificar el tipo de datos de cada columna.

- Detectar valores nulos o faltantes.

- Buscar registros duplicados.

- Revisar estad√≠sticas descriptivas b√°sicas para variables num√©ricas.

Estas acciones nos permitir√°n establecer una base s√≥lida para el an√°lisis posterior

In [4]:
df.head() # Mostrar las primeras filas del DataFrame

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [5]:
df.info() # Informaci√≥n general del DataFrame, incluyendo el n√∫mero de entradas y tipos de datos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [6]:
df.isnull().sum() # Contar los valores nulos en cada columna

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [7]:
df.duplicated().sum() # Comprobar si hay filas duplicadas en el DataFrame

np.int64(0)

Con base en la revisi√≥n inicial, podemos concluir que el dataset, contiene 16598 observaciones y 11 columnas con distintos tipos n√∫mericos (int64, float64) y categ√≥ricos (object).

Se identifican valores nulos en las columnas `Year` y `Publisher`; sin embargo no se encontraron valores duplicados.

Esto nos indica que ser√° necesario tratar los valores nulos antes de continuar con el an√°lisis exploratorio o la visualizaci√≥n de datos.

## 3. Limpieza de datos

Este dataset se encuentra relativamente limpio, ya que no presenta muchas inconsistencias como valores nulos masivos, registros duplicados o errores en los tipos de datos. Sin embargo, es una excelente oportunidad para realizar un ejercicio b√°sico de limpieza de datos.

Las acciones que abordaremos en esta secci√≥n son:

- Tratar los valores nulos presentes en las columnas ``Year`` y ``Publisher``.

- Convertir la columna ``Year`` al formato de fecha (datetime).

- Validar las variables categ√≥ricas para identificar posibles inconsistencias o diferencias de formato, y unificarlas en caso de ser necesario.

In [ ]:
#Porcentaje de valores nulos

porcentaje_nulos = (df.isnull().sum() / len(df)) * 100
print("Porcentaje de valores nulos en cada columna:")
for columna, porcentaje in porcentaje_nulos.items():
    print(f"{columna}: {porcentaje:.2f}%")

Porcentaje de valores nulos en cada columna:
Rank: 0.00%
Name: 0.00%
Platform: 0.00%
Year: 1.63%
Genre: 0.00%
Publisher: 0.35%
NA_Sales: 0.00%
EU_Sales: 0.00%
JP_Sales: 0.00%
Other_Sales: 0.00%
Global_Sales: 0.00%

Para el manejo de los valores nulos, se pueden imputar o eliminar, analicemos cada uno de los casos:

In [16]:
# Valores Nulos en categor√≠as
df_filtro_Year = df[df['Year'].isnull()]
df_filtro_Year

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
179,180,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23
377,378,FIFA Soccer 2004,PS2,NaN,Sports,Electronic Arts,0.59,2.36,0.04,0.51,3.49
431,432,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,1.86,1.02,0.00,0.29,3.17
470,471,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00
607,608,Space Invaders,2600,NaN,Shooter,Atari,2.36,0.14,0.00,0.03,2.53
...,...,...,...,...,...,...,...,...,...,...,...
16307,16310,Freaky Flyers,GC,NaN,Racing,Unknown,0.01,0.00,0.00,0.00,0.01
16327,16330,Inversion,PC,NaN,Shooter,Namco Bandai Games,0.01,0.00,0.00,0.00,0.01
16366,16369,Hakuouki: Shinsengumi Kitan,PS3,NaN,Adventure,Unknown,0.01,0.00,0.00,0.00,0.01
16427,16430,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.00,0.00,0.01
16493,16496,The Smurfs,3DS,NaN,Action,Unknown,0.00,0.01,0.00,0.00,0.01